<!DOCTYPE html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Twitter DB</title>
   <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
   
   <div class="_container">
      <h1 class="h1">База данных твиттера</h1>
      <div class="top-section">
         <label for="query" class="label">Введите SQL-запрос:</label>
         <input class="input" type="text" id="query" name="query" placeholder="Напишите ваш SQL-запрос здесь">
         <button class="top-section-button" onclick="submitQuery()">Выполнить запрос</button>
      </div>
      <script src="/client.js"></script>
      <div class="main-screen">
         <div class="left-block">
            <h2>Выберите таблицу для отображения:</h2>
            <div id="tableButtons">
               <button onclick="window.location.href='/users';">users</button>
               <button onclick="window.location.href='/tweets';">tweets</button>
               <button onclick="window.location.href='/replies';">replies</button>
               <button onclick="window.location.href='/hashtags';">hashtags</button>
               <button onclick="window.location.href='/attachments';">attachments</button>
               <button onclick="window.location.href='/urls';">urls</button>
               <button onclick="window.location.href='/hashtags_tweets';">hashtags_tweets</button>
               <button onclick="window.location.href='/mentions';">mentions</button>
               
            </div>
         </div>
         <div class="center-block">